[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=CEWE Fotowelt
Exec="/home/joe/CEWE/CEWE Fotowelt/CEWE Fotowelt" %u
Path=/home/joe/CEWE/CEWE Fotowelt
StartupNotify=true
Terminal=false
Type=Application
Icon=hps-24441-7.3.3
Categories=Graphics;
MimeType=application/x-hps-7.3.3-mcf
OnlyShowIn=Old;
